.container {
    text-align: center;
    margin-top: 100px;
}

img {
    width: 150px;
    height: 120px;
    margin-bottom: 0px;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    background-color: #95b5fc;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}